header {
    background-color: var(--primary-color);
    color: var(--off-white);
  }
  :root {
    --primary-color: #57a89f;
    --dark-primary-color: #036666;
    --light-primary-color: #99e2b4;
    --shade-primary-color: #48cae4;
  
    --secondary-color: #343a40;
    --dark-secondary-color: #111827;
    --light-secondary-color: #c0c5c9;
  
    --success-color: #059669;
    --dark-success-color: #065f46;
    --light-success-color: #99d98c;
  
    --danger-color: #dc2626;
    --dark-danger-color: #b91c1c;
    --light-danger-color: #ffdab9;
  
    --warning-color: #f59e0b;
    --dark-warning-color: #d97706;
    --light-warning-color: #ffee99;
  
    --white: #ffffff;
    --off-white: #f6f9fc;
  
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --shadow-spread: 13px 13px 21px -5px rgba(0, 0, 0, 0.3);
    --shadow-v3: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  